.data{
    flex: 1;
    padding: 10px 10px 0px 20px;
}
.data__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid lightgray;
}
.data_headerLeft{
    display: flex;
    align-items: center;
}
.data_headerRight svg {
    margin: 0px 10px;
}
.data_grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.data___file{
    text-align: center;
    border: 1px solid lightgray;
    margin: 10px;
    width: 230px ;
    height: 160px;
    padding: 10px 0px 0px 0px;
    border-radius: 5px;
    object-fit: contain;
}
.data___file img{
    width: 230px;
    height: 100px;
    object-fit: cover;
}
.data___file svg{
    font-size: 60px;
    color: gray;
}
.data___file a p{
    border-top: 1px solid #ccc;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    background-color: whitesmoke;
    padding: 5px 0px;
    text-wrap: balance;
    word-wrap: break-word;
    height: 40px;
}
.detailsRow {
    display: grid;
    grid-template-columns: 30% 25% 25% 10% 10%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.detailsRow p {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.detailsRow p b{
    display: flex;
    align-items: center;
}
.detailsRow p svg{
    font-size: 22px;
    margin: 10px;
}
a {
    color: gray;
    text-decoration: none;
    outline: 0;
    transition: all .2s;
}
a:hover{
    color: black;
}
.moreOptions{
    width: 40px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
}
.overlay{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    width: 100px;
    padding: 0;
}
.overlay button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    margin: 0;
    width: 80px;
}
Menu, #long-menu{
    box-shadow: none;
}
IconButton{
    box-shadow: none;
}

@media screen and (min-width: 240px) and (max-width: 700px) {
    .data__header{
        width: 70%;
        justify-content: space-between;

    } 
    .data_list .detailsRow{
        gap: 2px;
        display: grid;
        grid-template-columns: 32% 16% 25% 10% 10%;
        font-size: 10px;
    }
    .data_list .detailsRow p b{
        font: 8px;
       
    }
    .detailsRow {
        display: grid;
        grid-template-columns: 30% 15% 15% 10% 10%;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid #ccc;
        padding: 0px;
        text-align: center;
        width: 70%;
        gap: 10px;
        text-wrap: balance;
        word-wrap: break-word;
    }
    .detailsRow a {
        padding-left: -10px;
        text-wrap: balance;
        word-wrap: break-word;
        display: flex;
        flex-wrap: wrap;
        text-wrap: wrap;
        word-wrap: break-word;
        width: 40%;
    }
    .detailsRow a p{
        
        font-size: 10px;
        position: relative;
        text-wrap: wrap;
        word-wrap: break-word;
    }
    .detailsRow p{
        width: 50%;
        font-size: 12px;
        position: relative;
        text-wrap: balance;
        word-wrap: break-word;
    }
    .detailsRow a p svg{
        margin: 0;
        margin-right: 2px;
    }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
    .data{
        width: 100vw;
    }
    .data__header{
        width: 100%;
        justify-content: space-between;

    } 
}